# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local env files
.env
venv/
env/

# IDE / editor files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Dependency directories
env/
venv/
venv37/
